[flake8]
ignore = W504 W605 F401 E501 E251 W503
max-line-length = 120
show-source = False
application-import-names = llmeval
exclude =
    .git
    docs
    venv
    build
    env
    log
    dist
	*.egg-info
	__pycache__
